body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
p {
  color:#e8e1c7;
}
.wrapper {
  flex: 1;
  /* margin-top: 50px; */
}

.top-bar {
  background-color: #9c1e21;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e8e1c7;
  /* margin-bottom: 200px;  */
}

h2 {
  color:#9c1e21
}

h3 {
  color: #e8e1c7;
}

.login {
  color:#e8e1c7
}

.logo,
.popular,
.about,
.resources,
.logout {
  padding: 10px;
  font-size: 25px;
}

.content {
  padding: 20px;
  color: #e8e1c7;
  justify-content: center;
}

.row {
  font-size: 25px;
  align-items: center;
  display: flex;
  margin-right: 5px;
  margin-bottom: 20px;
  justify-content: center;
}

.box {
  font-size: 25px;
  align-items: center; /* Center the text vertically */
  border-radius: 10px; /* Add rounded corners to the boxes */
  background-color: #9c1e21;
  width: 220px;
  height: 30px;
  color: #e8e1c7;
  text-align: center;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the text horizontally */
  padding: 10px;
  margin: 0;
  margin-right: 10px; /* Adjust the margin between the boxes */
  margin-left: 10px; /* Adjust the margin between the boxes */
}

.recommended-box {
  align-items: center; /* Center the text vertically */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the text horizontally */
  height: 150px;
  border-radius: 10px; /* Add rounded corners to the boxes */
  background-color: #9c1e21;
  padding: 20px;
  color: #e8e1c7;
  text-align: center;
  margin-top: 300px; /* Add space above the recommended recipes box */
}

.greet {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: #e8e1c7;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: black;
}

main {
  padding: 20px 0;
  text-align: center;
  flex: 1;
}

.hero {
  text-align: center;
  color: lightgoldenrodyellow;
  margin-top: 200px;

}

.hero h1 {
  font-size: 42px;
  font-weight: bold;
}

.hero p {
  font-size: 24px;
}

.cta {
  text-align: center;
  margin-top: 20px;
}

.cta button {
  background-color: #e8e1c7;
  color: #9c1e21;
  font-size: 18px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
}

footer {
  top: 100%;
  position: sticky;
  background-color: #9c1e21;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

.copyright {
  font-size: 12px;
}

.greet {
  margin-top: 200px;
  color: #e8e1c7;
}

.ingredient-container {
  display: flex;
  flex-direction: column;
}

.ingredient-checkbox {
  color:#e8e1c7;
  display: block;
  margin-bottom: 5px;
}

.idk{
  color:black
}

/*Table for Search*/
#searchTable {
  border-collapse: collapse;
  width: 100%;
}

#searchTable td, #searchTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#searchTable tr:nth-child(even){background-color: #fafad2;}
#searchTable tr:nth-child(odd){background-color: #fcfca4;}


#searchTable tr:hover {background-color: #d9d983;}

#searchTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9c1e21;
  color: white;
}

/*Search Form*/
